doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Расписание
  body
    header
      nav
        h1 Личный блог Калашника Владимира Олександровича
        ul
          li
            a(href='index.html') Главная страница
          li
            a(href='news.html') Новости
          li
            a(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фото
    section
      article
        header
          h2 Мое расписание
        table(border='1')
          tbody
            tr
              th Понедельник
              th Вторник
              th Среда
              th Четверг
              th Пятница
            tr
              td(rowspan='0') ДСР
              td 14:30 Технології та протоколи Інтернет
              td 12:55 Технології та протоколи Інтернет
              td 12:55 Практикум програмування
              td 11:25 Мова програмування Java
            tr
              td викладач: Лебідь М.В. ауд 404 (6)
              td викладач: Лісняк А.О. ауд. 125(4)
              td викладач: Мухін В.В. ауд 40 (1)
              td викладач: Горбенко В.І. 50 (1)
            tr
              td 16:05 Чисельні методи в інформатиці
              td 17:40 Основи автоматизованого проектування
              td 14:30 Чисельні методи в інформатиці
              td 12:55 Іноземная мова
            tr
              td викладач: Левчук С.А. ауд. 41(1)
              td викладач: Кудін О.В. ауд. 408(2)
              td викладач: Левчук С.А. ауд. 36(1)
              td Дерев'янко Ю.М. ауд. 511(6)
            tr
              td(rowspan='1') 17:40 Основи автоматизованого проектування
              td 16:05 Практикум програмування
              td 16:05 Практикум програмування
              td 14:30 Мова програмування Java
            tr
              td викладач: Кальниченко Д.О. ауд. 38(1)
              td викладач: Мухін В.В. ауд 104 (2)
              td викладач: Мухін В.В. ауд 213(6)
              td викладач: Горбенко В.І. 37 (1)
            tr
              td(rowspan='0')
              td 17:40 Практикум програмування
              td(rowspan='0')
              td
                | [ЗНАМЕННИК] 16:05 Мова програмування Java)
            tr
              td викладач: Мухін В.В. ауд 104 (2)
              td викладач: Горбенко В.І. 37 (1)
    footer
      p
        | Copyright 2020 Все права защищены. 
        a(href='mailto:megass2038@gmail.com') Напишите мне!
