@media only screen and (min-width: 640px) {

section {
	width: 95%;
}

}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {

html {
	font-size: 24px;
}

section,
.gallery img {
	width: 90%;
}

.news figure img {
	width: 65%;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
}

figure figcaption {
	font-size: 28px;
}

table {
	display: block;
	overflow: auto;
	max-width: 100%;
}

}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {

section {
	width: 80%;
}

}

@media only screen and (max-width: 768px) {

html {
	font-size: 16px;
}

nav {
	width: 100%;
	padding: 0;
}

nav ul li {
	display: block;
}

section,
.gallery img {
	width: 95%;
}

.news figure img {
	width: 100%;
}

p {
	text-indent: 10px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

figure figcaption {
	font-size: 14px;
}

table {
	display: block;
	overflow: auto;
	max-width: 100%;
}

}

